@import '~antd/dist/antd.css';



body {
  margin: 0;
  padding: 0;
  /* 中華フォントを抑止 */
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div .app-name {
  float: left;
  color: crimson;
  margin: 0 24px 0 0;
  font-style: bold;
  font-size: large;
  font-family: 'Gloria Hallelujah', cursive;
}

@media (max-width: 576px) {
.ant-layout-header {
  padding-left: 20px;
}
div .app-name {
  margin: 0 8px 0 0;
  font-size: medium;
}
}
